
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendTestEmail</title>
</head>
<body>
<div>
    
    email should have sent

</div>
</body>
</html>
