<!DOCTYPE html>
<html>

<head>

    <!--
    <script src="star-rating.js"></script>
    <script src="../../distTS/StarRatingForEs5/star-rating.js"></script>
    -->
    <script src="../../distBabel/StarRatingForEs5/star-rating.js"></script>

    <style>
        html, body {
            font-size: 1.5em;
        }
        mtk-star-rating {
            --star-default-color: #333;
            --star-selected-color: #A00;
            --star-hover-color: #00a;
        }
    </style>
</head>

<body>


<mtk-star-rating id="sr" class="sr" ></mtk-star-rating>



<script>
    //var $a = document.querySelector("#sr");
    //$a.addEventListener("change",
    //    () => {
    //        console.log("change!");
    //    });
</script>
</body>
</html>