@{Layout = null;}
<html>
<head>
    <script src="~/bower_components/ag-grid/dist/ag-grid.js"></script>
    <script src="~/components/src/AgGrid/example1.js"></script>
</head>
<body>
    <div id="myGrid" style="height: 100%;" class="ag-fresh"></div>
</body>
</html>

