@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>

        .no {
            background-color:red
        }
        .yes {
            background-color: green
        }

    </style>



</head>
<body>

    <hr />

    <h2>
        Browsers Support : https://www.polymer-project.org/2.0/docs/browsers  ; https://www.polymer-project.org/2.0/docs/es6

    </h2>

    <ul>
        <li>
            <a href="https://www.polymer-project.org/2.0/docs/browsers">https://www.polymer-project.org/2.0/docs/browsers</a>
        </li>
        <li>
            <a href="https://www.polymer-project.org/2.0/docs/es6">https://www.polymer-project.org/2.0/docs/es6</a>

        </li>
        <li>review 
            <a href="http://caniuse.com/ ">http://caniuse.com/ </a>for native support</li>
            <li>review <a href="https://www.webcomponents.org/ ">https://www.webcomponents.org/ </a>for support with polyfill</li>
        
        <li>review 
        <a href="https://github.com/webcomponents/webcomponentsjs">https://github.com/webcomponents/webcomponentsjs</a>
         web components js and browser reach with polyfill</li>
        
        <li>review 
        <a href="https://github.com/webcomponents/webcomponentsjs">https://github.com/webcomponents/webcomponentsjs</a>`
        See here to see what library and loaders to use to get going. 
            In particular, if the browser-reach is IE11, evergreen,  Safari9+, Android-Chrome, Mobile-Safari
            To get WC IE11, ie11 only runs ES5 and also ES5-classes do not support extending ES6 classes like HTML element.
            So better to 1. transpile back to ES5 2. custom-elements-es5-adapter.js 3. use webcomponents-loader.js.
            The webcomponents-loader.js is a dynamic loader that loads the minimum bundle, and uses feature detection. 
            Use the window.WebComponenets & WebComponentsReady event to  
            see https://github.com/webcomponents/webcomponentsjs
        </li>
        <li>
            For polymer and es5, for running in IE11, see <a href="https://www.polymer-project.org/2.0/docs/es6#compile">https://www.polymer-project.org/2.0/docs/es6#compile</a>
        </li>
        <li>
            See here about the polyfills, 
            <a href="https://www.webcomponents.org/polyfills">https://www.webcomponents.org/polyfills</a>
        </li>        
        <li>
            Web Components JS comes with BSD license
        </li>
    </ul>


    <table>
        <thead>
            <tr>
                <th>Browser</th>
                <th>IE</th>
                <th>Edge</th>
                <th>FireFox</th>
                <th>Chrome</th>
                <th>Safari</th>
                <th>Opera</th>
                <th>IOS-Safari</th>
                <th>Opera-Mini</th>
                <th>Android-Browser</th>
                <th>Chrome-Android</th>
        </tr>
        </thead>
        <tr>
            <td>Custom Element V1</td>
            <td><span class="no">11</span></td>
            <td><span class="no">15</span></td>
            <td><span class="no">54</span></td>
            <td><span class="yes">60</span></td>
            <td><span class="no">10.1</span></td>
            <td><span class="yes">46</span></td>
            <td><span class="no">all</span></td>
            <td><span class="yes">56</span></td>
            <td><span class="yes">56</span></td>
            <td><span class="yes">59</span></td>
        </tr>
        <tr>
            <td>Shadow DOM</td>
        </tr>

        <tr>
            <td>Template</td>
        </tr>

        <tr>
            <td>HTML Import</td>
        </tr>

    </table>

    <hr />
    <section>
        <h3>
            The 4 WC Items
        </h3>
        <ul>
            <li>Custom Elements</li>
            <li>Shadow DOM</li>
            <li>Templates</li>
            <li>HTML Imports</li>
        </ul>
        <h3>
            Review these URLs
        </h3>
        <ul>
            <li>
                ...
            </li>
        </ul>
    </section>

    <hr />
    <section>
        <h3>
            Package management...
        </h3>

        <ul>
            <li>See <a href="https://www.webcomponents.org/polyfills">https://www.webcomponents.org/polyfills</a></li>
            <li>>bower install --save webcomponents/webcomponentsjs</li>
            <li>See <a href="https://www.polymer-project.org/2.0/start/install-2-0">https://www.polymer-project.org/2.0/start/install-2-0</a></li>
            <li>>npm install -g polymer-cli</li>
            <li>>bower install Polymer/polymer#^2.0.0</li>
        </ul>
    </section>

    <hr />
    <section>
        <h3>
            A Polymer page skeleton for Evergreen and Safari 10.1
            but not IE11 and FireFox is impossibly slow! @@>5secs
            as advised here <a href="https://github.com/webcomponents/webcomponentsjs">https://github.com/webcomponents/webcomponentsjs</a>
        </h3>
        <ul>
            <li>
                <a href="PolymerSkeleton">PolymerSkeleton</a>

            </li>
        </ul>
    </section>

    <hr />
    <section>
        <h3>
            A Polymer page skeleton for 
            Evergreen,
            but not IE11 and FireFox is impossibly slow! @@>5secs.
            To get IE11 going, must transpile to ES5 and ...
        </h3>
        <ul>
            <li>
                <a href="PolymerSkeletonEvergreenAndIE11">PolymerSkeletonEvergreenAndIE11</a>
            </li>
        </ul>
    </section>


    @*
    -- WIP npm install -g polymer-cli
    -- polymer build See https://www.polymer-project.org/2.0/toolbox/build-for-production
    -- https://stackoverflow.com/questions/45209803/polymer-2-cli-es5-bundle-chrome-issue


    *@

</body>
</html>
