<!DOCTYPE html>
<html>

<head>
    <title>vanilla-element</title>
    <script src="vanilla-hw.js"></script>
</head>

<body>
    <section>
        <ul>
            <li>This page includes vanilla-hw.js </li>
            <li>vanilla-hw.js adds the element tag : vanilla-element</li>
            <li>Script on the this page, instances a vanilla-element, as a DOM element</li>
            <li>the vanilla-element ctor is called, and this calls super() of the native HTML element</li>
            <li>sometime later, the new DOM element is add to the DOM</li>
            <li>to connected callback is called</li>
        </ul>    

    </section>

<script>

        // create an element, the vanalla-element
        let $ce = document.createElement("vanilla-element");

        // after some time add the element to the dom
        setTimeout(() => {
            document.body.appendChild($ce);
        }, 3000);

    </script>
</body>
</html>