@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <!--
    <link rel="import" href="~/components/my-component.html" id="my-component" />
    -->

    <link rel="import" href="~/wc/MyComponent" />


</head>
<body>

    <my-component></my-component>
</body>
</html>
