<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/bower_components/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="../WebComponentsHelpers/custom-style-interface.min.js"></script>
    <script src="../WebComponentsHelpers/WebComponentHelpers.js"></script>
    <style class="document-style"></style>
</head>

<body>
    <mash-grid id="mashgrid" config='{"url" : "./json1.json"}'></mash-grid>

    <script>

        // web-components-polyfills ready, now load the list of web components
        window.addEventListener("WebComponentsReady", function () {
            ["../../" + "dist-ts" + "/mash-grid/mash-grid.js"].forEach(function (javaScriptFile) { WebComponentHelper.load(javaScriptFile); });
        });
        // add the style on this page, to the shady-dom
        WebComponentHelper.addTheStyleOnPageToTheShadyDomStyles("style.document-style");
    </script>

</body>
</html>