@{Layout = null; }
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" width="device-width, initial-scale=1, shrink-to-fit=no" />
    
    @*
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    *@
</head>

<body>

    <div id="growler-outside">
        <div id="growler" class="container">

            <span>{{counter}}</span>


            <br />
            <button class="btn btn-primary" v-on:click="onUpdateClick">Update</button>
            <br />
            <button class="btn btn-danger" v-on:click="onDestroyClick">Destroy</button>




        </div>
    </div>

    <!--
    <script src="https://unpkg.com/vue@2.2.5/dist/vue.js" type="text/javascript"></script>
    -->
    <script src="~/node_modules/vue/dist/vue.min.js"></script>

    <script>

        //document.addEventListener("click", function () {
        //    //document.getElementById("demo").innerHTML = "Hello World";
        //    console.log('d c');
        //});

        //document.getElementById("fred").addEventListener("click", function () {
        //    //document.getElementById("demo").innerHTML = "Hello World";
        //    console.log('d c');
        //});


        document.addEventListener("DOMContentLoaded", function () {
            // Handler when the DOM is fully loaded


            //
            var foo = function () {
                growler.$destroy();
            }

            // the el property
            var growler = new Vue({
                //el: $growler,
                el: '#growler',
                data: {
                    counter: 3
                },
                methods: {
                    onUpdateClick: function () {
                        this.counter++;
                    },
                    onDestroyClick: function () {

                        alert('Destory');
                        foo();
                    }
                },

                beforeCreate: function () {
                    console.log('beforeCreate');
                },
                created: function () {
                    console.log('created');
                },

                beforeMount: function () {
                    console.log('beforeMount');
                },
                mounted: function () {
                    console.log('mounted');
                },

                beforeUpdated: function () {
                    console.log('beforeMount');
                },
                updated: function () {
                    console.log('mounted');
                },

                beforeDestroy: function () {
                    console.log('beforeDestroyed');
                },
                destroyed: function () {
                    console.log('destroyed');
                },

            });

            //console.log(growler);

            // Next ... mount growler inot the dom ... ; show the model to the user

        });
    </script>
</body>
</html>