@{
    Layout = null; 
}


<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>


    <script src="~/node_modules/vue/dist/vue.min.js"></script>


</head>

<body>

    vue hw

</body>
</html>

